body {
    margin: 0; /* сбрасываю внешние отступы */
    padding: 0; /* сбрасываю внутренние отступы */
    font-family: sans-serif;  /* устанавливаю семейство шрифтов */
    color: #444;  /* устанавливаю цвет текста на странице */
    box-sizing: border-box;  /* устанавливаю правильную модель подсчета размеров */
}

/*
Работаем над главной частью
 */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.site-header {
    padding: 1em; /* внутренний отступ ~16px с каждой стороны */
    margin: 0;
    background: #2d60b9;
}

.main-menu {

}
